body, html { 
    overflow-x: hidden; 
    /*overflow-y: hidden;*/
}

.navbar-default {
  border-radius: 0;
}

input {
  text-align: left;
  width: 50%;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.col-md-2 {
  background: yellow;
  min-height: 100%;
}

tbody {
  overflow-y: auto;
}

th {
  background-color: #87cefa; 
}

.col-md-12 {
  border: solid black 1px;
}

.glyphicon {
  margin-right: 10px;
}

.tb-head {
  border: none;
}

.right {
  text-align: right;
  margin-right: 5px;
}

.collapse {
  margin-left:20px;
  margin-bottom: 10px;
}

hr {
  margin: 5px;
  padding: 0px;
  width: 100%;
}

.across {
  width:95%;
  margin-left: 15px;
  font-size: 30px;
}

.navbar-brand {
  width: 100%;
}

.navbar-default {
  max-height: 100px;
  width: 100%;
  margin-bottom: 0px;
}

html, body {
   height:100%;
}

.bottom {
  position: absolute;
  bottom: 0%;
  left: 8%;
  /*background: orange;*/
}

.nav-col {
  position: absolute;
  border-right:solid black 1px;
  border-width: 1px;
  height: 100%;
  text-align:center;
}
tr {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

#login-dropdown-list .dropdown-toggle{
  color: red;
  font-size: 125%;
  font-weight:bold;
}




/*.center {
  display:inline-block;
  position: relative;
  top: 30px;
}*/